Data source:<br>
Postes de distribution publique (postes HTA/BT): https://data.enedis.fr/explore/dataset/poste-electrique/export/?location=8,43.52905,2.28291&basemap=jawg.streets

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np

import fiona
from shapely.geometry import Point, shape 
import geopandas as gpd
# import folium

In [2]:
enedis_df = pd.read_csv('poste-electrique.csv', sep=';')

fr_border_df = gpd.read_file('../geo_datasets/fr_metropole.geojson', driver='GeoJSON')

In [3]:
enedis_df['geo_point_list'] = enedis_df['Geo Point'].apply(lambda x: x.split(','))
enedis_df['LAT'] = enedis_df['geo_point_list'].apply(lambda x: x[0])
enedis_df['LAT'] = enedis_df['LAT'].astype(float)
enedis_df['LNG'] = enedis_df['geo_point_list'].apply(lambda x: x[1])
enedis_df['LNG'] = enedis_df['LNG'].astype(float)

In [4]:
enedis_df.head()

,Geo Point,Geo Shape,E_Poste_ID,geo_point_list,LAT,LNG
0,"47.230048323,1.23493197216","{""type"": ""Point"", ""coordinates"": [1.2349319721...",NaN,"[47.230048323, 1.23493197216]",47.230048,1.234932
1,"47.219198731,1.22458486322","{""type"": ""Point"", ""coordinates"": [1.2245848632...",NaN,"[47.219198731, 1.22458486322]",47.219199,1.224585
2,"47.2089044617,1.23071853273","{""type"": ""Point"", ""coordinates"": [1.2307185327...",NaN,"[47.2089044617, 1.23071853273]",47.208904,1.230719
3,"47.1874081696,1.23150017662","{""type"": ""Point"", ""coordinates"": [1.2315001766...",NaN,"[47.1874081696, 1.23150017662]",47.187408,1.231500
4,"47.2281071716,1.25407586548","{""type"": ""Point"", ""coordinates"": [1.2540758654...",NaN,"[47.2281071716, 1.25407586548]",47.228107,1.254076

**keplergl**

In [5]:
config = {
'version': 'v1',
'config': {
    'mapState': {
        'latitude': 46.803354,
        'longitude': 1.8883335,
        'zoom': 5
    }
}
}

In [6]:
from keplergl import KeplerGl
posts_map = KeplerGl(height=700, data={"posts": enedis_df}, config=config)
# posts_map